@font-face {
  font-family: "Conv_SFUIText-Regular";
  src: url("../fonts/SFUIText-Regular.eot");
  src: local("☺"), url("../fonts/SFUIText-Regular.woff") format("woff"),
    url("../fonts/SFUIText-Regular.ttf") format("truetype"),
    url("../fonts/SFUIText-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_SFUIText-Bold";
  src: url("../fonts/SFUIText-Bold.eot");
  src: local("☺"), url("../fonts/SFUIText-Bold.woff") format("woff"),
    url("../fonts/SFUIText-Bold.ttf") format("truetype"),
    url("../fonts/SFUIText-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #666;
  overflow: hidden;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}
h3 {
  font-size: 28px;
}
h5 {
  font-size: 20px;
}
a {
  color: #666;
}
a:hover {
  color: var(--main-color);
  text-decoration: none;
}
ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}
.font_w_bold {
  font-family: "Conv_SFUIText-Bold";
}
img {
  max-width: 100%;
}
.btn {
  background-color: var(--main-color);
  border: 0px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
}
.btn_small {
  padding: 5px 9px;
  line-height: 16px;
  font-size: 14px;
}
.btn_upload {
  background-color: #fff;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.btn:hover {
  color: #fff;
}
.btn_upload:hover {
  color: var(--main-color);
}
.color_green {
  color: var(--main-color) !important;
}
.border_color {
  border-color: var(--main-color) !important;
}
.bg_green {
  background-color: var(--main-color) !important;
}
.bg_red {
  background-color: #ff2929 !important;
}
.bg_orange {
  background-color: #ffa000 !important;
}
.bg_lighter_green {
  background-color: #def9d6 !important;
}
.border_r_4px {
  border-radius: 4px;
}
.border_1px {
  border: 1px solid #efefef;
}
.border_top {
  border-top: 1px solid #efefef;
}
.border_btm {
  border-bottom: 1px solid #efefef;
}
.border_left {
  border-left: 1px solid #efefef;
}
.border_right {
  border-right: 1px solid #efefef;
}
.color_gray {
  color: #999 !important;
}
.bg_gray {
  background-color: #f6f6f6 !important;
}
.bg_drak_gray {
  background-color: #b1b1b1 !important;
}
.font_50 {
  font-size: 50px;
}
.font_20 {
  font-size: 20px;
}
.dropdown-item,
.form-control {
  color: #666;
  font-size: 13px;
  min-width: 110px;
}
.select_wrap select {
  padding-right: 20px;
}
.form-control:focus {
  border: 1px solid #666;
}
.cursor_pointer {
  cursor: pointer;
}
.cancel_btn {
  background-color: #cecece !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--main-color);
  background-color: var(--main-color);
}
.th_bg tr th {
  background-image: -moz-linear-gradient(
    90deg,
    rgb(230, 232, 236) 0%,
    rgb(255, 255, 255) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(230, 232, 236) 0%,
    rgb(255, 255, 255) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgb(230, 232, 236) 0%,
    rgb(255, 255, 255) 100%
  );
}
.first_col_center tr th:nth-of-type(1),
.first_col_center tr td:nth-of-type(1) {
  text-align: center;
}
.alt_tr tr:nth-of-type(2n + 2) {
  background-color: #f3f3f3;
}
.border_right {
  border-right: 1px solid #ced4da;
}
.dropdown-menu {
  min-width: 100%;
  z-index: 99999;
}
label {
  font-weight: 600;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--main-color);
}
.table.v_align_middle td,
.table.v_align_middle th {
  vertical-align: middle;
}
.creat_social_box {
  position: relative;
}
.post_remove {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  cursor: pointer;
}
.progress {
  height: 0.75rem;
  border-radius: 1rem;
}
.weight_600 {
  font-weight: 600 !important;
}
.height_80vh {
  height: 80vh;
}
.height_70vh {
  height: 70vh;
}
.main_question > .bg_drak_gray {
  background-color: var(--main-color) !important;
}
.collapsed i {
  transform: rotate(180deg);
}
.custom-control-label::after {
  top: 0.12rem;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}
.input_border_btm {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}
.input_border_btm:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}
.middle_sec_overflow {
  height: calc(100vh - 230px);
  overflow: auto;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.select_wrap {
  position: relative;
}
.select_wrap::after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  font-size: 18px;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}
.fontawesome,
.fontawesome option {
  font-family: "Font Awesome 5 Pro";
}
.error-help-block {
  color: red;
}
.file_input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.w_70px {
  width: 70px;
}
.w-15 {
  width: 15%;
}
p[contenteditable="true"] {
  border-bottom: 1px solid #ced4da;
  padding-bottom: 10px;
}
.border_2px_red {
  border: 2px solid #eb2728;
}
.border_2px_blue {
  border: 2px solid #2551f7;
}
.border_2px_yellow {
  border: 2px solid #f9d849;
}
.dropdown-item {
  cursor: pointer;
}
.min_w_auto {
  min-width: auto !important;
}
:root {
  --main-color: #690;
}

/*-------------togle button---------------*/

.form-check {
  position: relative;
  display: block;
  height: 26px;
}

.form-check-toggle {
  position: relative;
  padding-left: 0;
  line-height: 30px;
}
.form-check-toggle input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.form-check-toggle input + span {
  cursor: pointer;
  user-select: none;
  height: 26px;
  margin-left: 50px;
  display: block;
}
.form-check-toggle input + span:before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 26px;
  width: 50px;
  background: #f3f3f3;
  border: solid 1px #ced4da;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
  border-radius: 15px;
}
.form-check-toggle input + span:after {
  width: 24px;
  height: 24px;
  margin-top: 1px;
  margin-left: 1px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background: #fff;
  transition: margin-left 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
  content: "";
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.05);
}
.form-check-toggle input:checked + span:after {
  content: "";
  margin-left: 25px;
  box-shadow: none;
}
.form-check-toggle input:checked + span:before {
  background-color: var(--main-color);
  border-color: var(--main-color);
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
/*--------Switch toggle-----------*/
.switch-toggle {
  display: inline-flex;
  background: #eeeff0;
  border-radius: 4px;
  overflow: hidden;
}
.switch-toggle input {
  position: absolute;
  opacity: 0;
}
.switch-toggle input + label {
  padding: 2px 10px;
  color: #666;
  cursor: pointer;
  margin: 0px;
  border: 1px solid #ced4da;
  transition: all 0.6s;
}
.switch-toggle input:checked + label {
  background: var(--main-color);
  color: #fff;
  border-color: var(--main-color);
}

/*--------------Header--------------*/
header {
  background-color: var(--main-color);
}
header a {
  color: #fff;
}
header a:hover {
  color: #fff;
}
/*-----------job preview-----------*/
.job_preview_sec {
  height: calc(100vh - 140px);
  overflow: auto;
}
.job_preview_ul {
  padding-left: 20px;
}
.job_preview_ul li {
  margin: 15px 0px;
  list-style: disc;
}
